Repository jmesnil/eap-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, charts, eap74, documentation

Check JSON validation on PRs
  .github/workflows/validation.yml
Labels: none

Validation
  .github/workflows/validation.yml
Labels: none

fix validation action
  .github/workflows/validation.yml
Labels: none

fix validation action
  .github/workflows/validation.yml
Labels: none

validation aciton
  .github/workflows/validation.yml
Labels: none

validate examples
  .github/workflows/validation.yml
Labels: none

valid schema
  charts/eap74/values.schema.json
Labels: charts, eap74, documentation

Invalid Schema
  charts/eap74/values.schema.json
Labels: charts, eap74, documentation

minimal schema
  charts/eap74/values.schema.json
Labels: charts, eap74, documentation

Invalid JSON example
  examples/eap74/helloworld-rs/helloworld-rs-app.yaml
Labels: examples, eap74

Revert "Invalid Schema"
  charts/eap74/values.schema.json
Labels: charts, eap74, documentation

wth
  .github/workflows/validation.yml
Labels: none

wth
  .github/workflows/validation.yml
Labels: none

wth
  .github/workflows/validation.yml
Labels: none

Link to EAP 7.4 documentation
  charts/eap74/README.md
Labels: charts, eap74, documentation

[EAP7-1634] Add Helm Chart to deploy todo-backend quickstart
  charts/eap74/Chart.yaml
  charts/eap74/README.md
  charts/eap74/values.schema.json
  examples/eap74/todo-backend/README.adoc
  examples/eap74/todo-backend/todo-backend-s2i.yaml
Labels: examples, charts, eap74, documentation

[EAP7-1680] Helm Chart for EAP XP3
  charts/eap-xp3/.helmignore
  charts/eap-xp3/Chart.yaml
  charts/eap-xp3/README.md
  charts/eap-xp3/templates/NOTES.txt
  charts/eap-xp3/templates/_helpers.tpl
  charts/eap-xp3/templates/buildconfig-bootable-jar.yaml
  charts/eap-xp3/templates/buildconfig-s2i-build-artifacts.yaml
  charts/eap-xp3/templates/buildconfig-s2i.yaml
  charts/eap-xp3/templates/deployment.yaml
  charts/eap-xp3/templates/imagestream.yaml
  charts/eap-xp3/templates/route.yaml
  charts/eap-xp3/templates/service.yaml
  charts/eap-xp3/values.schema.json
  charts/eap-xp3/values.yaml
  examples/eap-xp3/helloworld-rs/README.adoc
  examples/eap-xp3/helloworld-rs/helloworld-rs-app.yaml
  examples/eap-xp3/microprofile-config/README.adoc
  examples/eap-xp3/microprofile-config/microprofile-config-app.yaml
Labels: examples, charts, documentation

[EAP7-1680] Helm Chart for EAP XP3
  charts/eap-xp3/Chart.yaml
  charts/eap-xp3/README.md
  charts/eap-xp3/values.schema.json
Labels: charts, documentation

Update NOTES.txt
  charts/eap-xp3/templates/NOTES.txt
Labels: charts

Set theme jekyll-theme-minimal
  _config.yml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

remove all entries
  index.yaml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

.github/labeler.yml:

repo:
  - ./*
examples:
  - examples/**/*
charts:
  - charts/**/*
eap74:
  - charts/eap74/**/*
  - examples/eap74/**/*
documentation:
  - ./README.md
  - charts/**/README.md
  - charts/**/values.schema.json
